<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/elementui.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/vue.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/element-themechalk.css}"/>
</head>
<body>
<div>
    <el-container>
        <el-header>
            <th:block th:replace="component/header :: header"/>
        </el-header>
        <el-main>
            <div class="container">
                <th:block layout:fragment="content"/>
            </div>
        </el-main>
        <el-footer>
            <div style="position: fixed">
                <th:block th:replace="component/footer :: footer"/>
            </div>
        </el-footer>
    </el-container>
</div>
</body>
<script>
    var hiddenProperty = 'hidden' in document ? 'hidden' :
        'webkitHidden' in document ? 'webkitHidden' :
            'mozHidden' in document ? 'mozHidden' :
                null;
    var visibilityChangeEvent = hiddenProperty.replace(/hidden/i, 'visibilitychange');
    var onVisibilityChange = function () {
        if (!document[hiddenProperty]) {
            document.title = '$LAYOUT_TITLE - $CONTENT_TITLE';
        } else {
            document.title = '主人你快回来(つд⊂)  ';
        }
    }
    document.addEventListener(visibilityChangeEvent, onVisibilityChange);
</script>
</html>